<!DOCTYPE html>
<html>     
    <head>
        <link rel="stylesheet" href="./index.css">
        
        
    <body>
        <div class="container">
            <div class="box photo"><img src="OIP.jpg" height="200px" width="200px"></div>
            <!--<div class="boxMOI MOI"></div>-->
            <!--<div class="box relative">image</div>
            <div class="box relative">info</div>-->
            <div class="texte">
            <h3>WALLE <br><br> Léo<br><br> Roanne<br><br> leo.walle@etu.univ-st-etienne.fr</h3>
            </div>
        </div>
        <div class="container2">
            <div class="boite">
                <div class="voiture"><i class="fa fa-search" aria-hidden="true">
                </i></div>
                <div class="content">
                        <h2>Passion</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident sit iure 
                            incidunt laudantium explicabo voluptatum consectetur ipsum, minus dolorum reprehenderit 
                            labore eaque sapiente blanditiis? Sit non omnis quia qui porro.</p>
                </div>
            </div>
            <div class="boite">
                <div class="skis"><i class="fa fa-search" aria-hidden="true">
                </i></div>
                <div class="content">
                        <h2>Passion</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident sit iure 
                            incidunt laudantium explicabo voluptatum consectetur ipsum, minus dolorum reprehenderit 
                            labore eaque sapiente blanditiis? Sit non omnis quia qui porro.</p>
                </div>
            </div>
            <div class="boite">
                <div class="tracteur"><i class="fa fa-search" aria-hidden="true">
                </i></div>
                <div class="content">
                        <h2>Passion</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident sit iure 
                            incidunt laudantium explicabo voluptatum consectetur ipsum, minus dolorum reprehenderit 
                            labore eaque sapiente blanditiis? Sit non omnis quia qui porro.</p>
                </div>
            </div>
            
        </div>
        
    </body>

</html>