<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Realisation de CV</title>
    <link rel="stylesheet" href="index2.css">
</head>
<body>
    <div class="CV">
            <main>
            <header>
                        <div class="photo">
                            <img src="01.png" width="100%" height="100%" alt="">
                        </div>
                        <div class="des">
                            <p class="post">Développeur Web & Mobile</p>
                        </div>
                        <div class="right">
                                <p><img src="mail.png" class="info">gueyeazou201629@gmail</p>
                                <p><img src="maps.png" class="info">Thies-Senegal</p>
                                <p><img src="01.png" class="info">WALLE Léo</p>
                        </div> 
            </header>
        <section class="section-left">
            <h4>Passion</h4>
            <hr class="light">
            <div class="atouts">
                <div>Passionné d’engins agricoles et de mécanique. <br><br>
                    Ancien licencié d’un club de football. <br><br>
                    Ski et snowboard. Jeux vidéos.
                </div>
            </div>
            
        
        
            <h4>QUALITES</h4>
            <hr class="light">
            <div class="atouts">
                <div>Esprit d'initiative,  autonome et polyvalent.<br><br>
                    Ambitieux, aimable, efficace.<br><br>
                    Aime le travail en équipe.
                </div>
            </div>
                       
            <h4>Expériences professionnelles</h4>
            <hr class="light">
                <div class="div">
                
                    <p><c><strong>Février 2019 :</strong> Stage de mécanicien chez Monsieur Denquin,
                       entrepreneur agricole à Bourthes (62) : réparation en atelier 
                       et chez les clients, nettoyage et maintenance de matériel.<br><br>
                       <strong>Mai 2018 :</strong> Stage de football à Aigues-Mortes.<br><br>
                       <strong>Avril 2018 :</strong> Stage de développeur en informatique à la casisse d’Epargne de Seclin (59) : classement, participation aux réunions d’équipe.<br>
                      <br><strong>Vacances d’hiver depuis 2006 :</strong> Passage des niveaux de ski de la première étoile à l’étoile d’or en ski  et  snowboard.<br>
                      <br><strong>Vacances d’été :</strong> Participation aux travaux de la ferme dans une exploitation de 
                      polyculture/élevage à Course (62) : ramassage des œufs, tri et  préparation pour la commercialisation
                      tretien des poules, traite et soin en élevage bovin, préparation des sols, utilisation et maintenance
                      es tracteurs et machines agricoles, participation à la moisson et à la livraison du grain.
                      
                </c>></p>
                
                </p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                
                </div>
        </section>
        <section class="section-right">
            <h4>COMPETENCES</h4>
            <hr class="light">
            <div class="atouts">
                <div>Maitrise des outils informatiques.<br><br>
                    Connaissances dans la conduite et l’entretien des engins agricoles<br><br>
                    Connaissance dans le soin et l’élevage des animaux de la ferme
                </div>
            </div>
            <h4>Diplômes et Formations</h4>
            <hr class="light">
            <div class="div">
                <div><c>2020/2021 : Terminale technologique STI2D option SIN : Lycée La Pléiade à Pont de Chéruy (38)<br><br>
                    30/09/2020 : Obtention du code de la route et conduite accompagnée en cours.<br><br>
                    
                    2019/2020 : Première technologique en STI2D : Lycée La Pléiade à Pont de Chéruy (38)<br><br>
                    2018/2019 : Seconde générale et technologique : Lycée Paul Claudel à Villemoirieu. (38)<br><br>
                    Juin 2018 : Brevet des collèges mention assez bien : Collège Jean Paul II  à Villemoirieu<br><br>
                    
                    </c>
                </div>
            </div>
            <h4>Langues</h4>
            <hr class="light">
            <div class="skls">
                <div class="po">
                            <p>Français</p>
                            <p>Anglais</p>
                            <p>Italien</p>
                        </div>
            </div>
            <h4>Centres d'intérêt</h4>
            <hr class="light">
            <div class="interet">
                <div><c>Sport</c></div>
                <div><c>Amis</c></div>
                <div><c>Film</c></div>
                <div><c></c></div>
                <br><br><br><br><br>
            </div>
        </section>
                <div class="srkl">
                </div>
            <hr class="light">
            </main>
    </div>
    <div class="containerPO5">
    <li><a href="index.html.twig"><button class="BTN1">MENU</button></a></li>
</div>
</body>
</html>