<!DOCTYPE html>
<html>     
    <head>
        <link rel="stylesheet" href="./index2.css">
        <link rel="stylesheet" href=""https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
        <meta name="viewport" content="width=device-widht, initial-scale=1.0"   </head>

        
        
        
    <body>
        <div class="container">
            <div class="box photo"><img src="OIP.jpg" height="200px" width="200px"></div>
            <!--<div class="boxMOI MOI"></div>-->
            <!--<div class="box relative">image</div>
            <div class="box relative">info</div>-->
            <!--<h5 data-text="Bonjour je m’appelle Léo WALLE actuellement en BUT reseau & telecom a 
            l’iut de roanne, intéressé par le domaine de l’informatique et de tous les appareils 
            numériques. J’ambitionne de travailler dans le développement et l'installation de toutes 
            applications et outils numériques en relation avec l’agriculture."
            >Bonjour je m’appelle Léo WALLE actuellement en BUT reseau & telecom a l’iut de roanne,
             intéressé par le domaine de l’informatique et de tous les appareils numériques. 
             J’ambitionne de travailler dans le développement et l'installation de toutes applications
              et outils numériques en relation avec l’agriculture.</h5>-->
              <h5>Bonjour<br><br> je m’appelle Léo WALLE actuellement en BUT reseau & telecom a 
                l’iut de roanne, intéressé par le domaine de l’informatique et de tous les appareils 
                numériques.<br><br> J’ambitionne de travailler dans le développement et l'installation de toutes 
                applications et outils numériques en relation avec l’agriculture.</h5>
            <div class="texte">
            <h3>WALLE <br><br> Léo<br><br> Roanne<br><br> leo.walle@etu.univ-st-etienne.fr</h3>
            </div>
            
            </div>
        </div>
        <div class="container2">
            <div class="boite">
                <div class="voiture"><i class="fa fa-search" aria-hidden="true">
                </i></div>
                <div class="content">
                        <h2>Formule 1</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident sit iure 
                            incidunt laudantium explicabo voluptatum consectetur ipsum, minus dolorum reprehenderit 
                            labore eaque sapiente blanditiis? Sit non omnis quia qui porro.</p>
                </div>
            </div>
            <div class="boite">
                <div class="skii"><i class="fa fa-search" aria-hidden="true">
                </i></div>
                <div class="content">
                        <h2>Snowboard</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident sit iure 
                            incidunt laudantium explicabo voluptatum consectetur ipsum, minus dolorum reprehenderit 
                            labore eaque sapiente blanditiis? Sit non omnis quia qui porro.</p>
                </div>
            </div>
            <div class="boite">
                <div class="tracteur"><i class="fa fa-search" aria-hidden="true">
                </i></div>
                <div class="content">
                        <h2>Agriculture</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident sit iure 
                            incidunt laudantium explicabo voluptatum consectetur ipsum, minus dolorum reprehenderit 
                            labore eaque sapiente blanditiis? Sit non omnis quia qui porro.</p>
                </div>
            </div>
            
        </div>
        <div class="container3">
            <div class="container4">
                <div class="topic">CSS Vertical Tabs.</div>
                <div class="content">
                  <input type="radio" name="slider" checked id="home">
                  <input type="radio" name="slider" id="blog">
                  <input type="radio" name="slider" id="help">
                  
                  <div class="list">
                    <label for="home" class="home">
                    <i class="fas fa-home"></i>
                    <span class="title">qualite</span>
                  </label>
                  <label for="blog" class="blog">
                    <span class="icon"><i class="fas fa-blog"></i></span>
                    <span class="title">competence</span>
                  </label>
                  <label for="help" class="help">
                    <span class="icon"><i class="far fa-envelope"></i></span>
                    <span class="title">experience</span>
                  </label>
                  
                  <div class="slider"></div>
                </div>
                  <div class="text-content">
                    <div class="home text">
                      <div class="title"><h2> QUALITES</h2></div>
                      <p>Esprit d'initiative,  autonome et polyvalent.<br>
                        Ambitieux, aimable, efficace.<br>
                        Aime le travail en équipe.
                      </p></div>
                    <div class="blog text">
                      <div class="title"><h2>COMPETENCE</h2></div>
                      <p>Maitrise des outils informatiques.<br><br>
                        Connaissances dans la conduite et l’entretien des engins agricoles.<br><br>
                        Connaissance dans le soin et l’élevage des animaux de la ferme.
                        </p>
                    </div>
                    <div class="help text">
                      <div class="title"><h2>EXPERIENCE</h2></div>
                      <p><strong>Février 2019 :</strong> Stage de mécanicien chez Monsieur Denquin,
                         entrepreneur agricole à Bourthes (62) : réparation en atelier 
                         et chez les clients, nettoyage et maintenance de matériel.<br><br>
                         <strong>Mai 2018 :</strong> Stage de football à Aigues-Mortes.<br><br>
                         <strong>Avril 2018 :</strong> Stage de développeur en informatique à la casisse d’Epargne de Seclin (59) : classement, participation aux réunions d’équipe.<br>
                        <br><strong>Vacances d’hiver depuis 2006 :</strong> Passage des niveaux de ski de la première étoile à l’étoile d’or en ski  et  snowboard.<br>
                        <br><strong>Vacances d’été :</strong> Participation aux travaux de la ferme dans une exploitation de polyculture/élevage à Course (62) : ramassage des œufs, tri et  préparation pour la commercialisation, entretien des poules, traite et soin en élevage bovin, préparation des sols, utilisation et maintenance des tracteurs et machines agricoles, participation à la moisson et à la livraison du grain.
                        
                        </p>
                    </div>
                    
                  </div>
                </div>
              </div>
        </div>
        <div class="container5">
            <li><a href="cv.html.twig"><button class="BTN">CV</button></a></li>
            <li><a href="Portfolio.html.twig"><button class="BTN1">PortFolio</button></a></li>
            
        </div>
        <div class="container5">
            
            <form action="/ma-page-de-traitement" method="post">
                <div>
                    <label for="name">Nom :</label>
                    <input type="text" id="name" name="user_name">
                </div>
                <div>
                    <label for="mail">e-mail :</label>
                    <input type="email" id="mail" name="user_mail">
                </div>
                <div>
                    <label for="msg">Message :</label>
                    <textarea id="msg" name="user_message"></textarea>
                </div>
            </form>

        </div>
            
            
  
        </div>
            
        
        
        
    </body>

</html>

