<!DOCTYPE html>
<html lang="en">     
    <head>
      <meta charset="UTF-8"
      <title></title>
      <link rel="stylesheet" href="index.css">
    </head>
    <bodyPO>
        <div class="containerP">
            <div class="containerPO">
                <table class="table-style">

                    <thead>
                        <tr>
                            <th>Compétence</th>
                            <th>Title 2</th>
                            <th>Title 3</th>
                            <th>Title 4</th>
                            <th>Title 5</th>
                        </tr>
                    </thead>
                    

                    <tbody>
                        <tr>
                            <th>Administret les reseaux<br> et l'internet</th>
                            <td>Configurer les fonction de base du reseaux local</td>
                            <td>Content</td>
                            <td>Content</td>
                            <td>Content</td>
                            <td>Content</td>
                            
                        </tr>
                        <tr>
                            <th>Title 2</th>
                            <td>Content</td>
                            <td>Content</td>
                            <td>Content</td>
                            <td>Content</td>
                            <td>Content</td>
                        </tr>
                        <tr>
                            <th>Title 2</th>
                            <td>Content</td>
                            <td>Content</td>
                            <td>Content</td>
                            <td>Content</td>
                            <td>Content</td>
                        </tr>
                        <tr>
                            <td>Content</td>
                            <td>Content</td>
                            <td>Content</td>
                            <td>Content</td>
                            <td>Content</td>
                        </tr>
                        <tr>
                            <td>Content</td>
                            <td>Content</td>
                            <td>Content</td>
                            <td>Content</td>
                            <td>Content</td>
                        </tr>
                        <tr>
                            <th>Title 2</th>
                            <td>Content</td>
                            <td>Content</td>
                            <td>Content</td>
                            <td>Content</td>
                            <td>Content</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>

    </bodyPO>
</html>        


