<!DOCTYPE html>
<html lang="fr">     
    <head>
      <meta charset="UTF-8"
      <title></title>
      <link rel="stylesheet" href="index.css">
    </head>
    <body>
        <div class="containerPO">
            <div class="texte">
                <h1 data-text="ADMINISTRE">ADMINISTRE</h1>
            </div>
            <div class="boit">
                <div class="administre"><i class="fa fa-search" aria-hidden="true">
                </i></div>
                <div class="content">
                    <h2>Configurer les fonctions de base du réseau local</h2><br>
                    <p> tous se qui est configuration je c'est faire une configuration 
                        D'adresse ip sur Packet tracer et sur une situation reels, creation 
                        d'un Vlan, et Un pings qui marche entre 4 PC</p>
                        <br>
                        <img src="adm.png" height="250px" width="320px">
                </div>
            </div>
            <div class="boit">
                <div class="administre2"><i class="fa fa-search" aria-hidden="true">
                </i></div>
                <div class="content">
                        <h2>Comprendre les principes et standards du codage de l’information</h2><br>
                        <p>nous avons travailller sur un site national pour valider notre attestation
                             du suivie. j'ai lister les types de risque avec des exemples et se qui fut
                              faire pour se securiser    </p>
                              <br>
                            <img src="admi.png" height="250px" width="320px">
                </div>
            </div>
            <div class="boit">
                <div class="administre3"><i class="fa fa-search" aria-hidden="true">
                </i></div>
                <div class="content">
                        <h2>Installer un poste client</h2>
                        <p>Nous avons installé un poste client grâce à Windows 10 et Windows 7.
                             Cela nous a permis de positionner différent droit à différent groupe
                              de personne. Nous avons pu aussi configurer l’horaire pour contrôler
                               et sécuriser le service</p>
                               <br>
                               <img src="amin.jpg" height="250px" width="320px">
                </div>
            </div>
            <div class="containerPO2">
                <div class="texte">
                    <h1 data-text="CONNECTER">CONNECTER</h1>
                </div>
                <div class="boit">
                    <div class="connecter"><i class="fa fa-search" aria-hidden="true">
                    </i></div>
                    <div class="content">
                            <h2>Mesurer et analyser les signaux</h2>
                            <p>Mesure WI-FI  nous devons mesurer le wifi eduroanne de l'iut avec
                                different point donnees et faire un bilan des donnees qu'on reçoit
                                 et les comparere. .</p>
                    </div>
                </div>
                <div class="boit">
                    <div class="connecter2"><i class="fa fa-search" aria-hidden="true">
                    </i></div>
                    <div class="content">
                            <h2>Déployer des supports de transmission</h2>
                            <p>En autonomie je c'est connecter les differents equipement
                                 que se soit en simulation (packet tracer) ou en reel
                                 ( baie de brassage)</p>
                    </div>
                </div>
                <!--<div class="boit">
                    <div class="connecter3"><i class="fa fa-search" aria-hidden="true">
                    </i></div>
                    <div class="content">
                            <h2>Passion</h2>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident sit iure 
                                incidunt laudantium explicabo voluptatum consectetur ipsum, minus dolorum reprehenderit 
                                labore eaque sapiente blanditiis? Sit non omnis quia qui porro.</p>
                    </div>
                </div>-->
            </div>
            <div class="containerPO3">
                <div class="texte">
                    <h1 data-text="PROGRAMMER">PROGRAMMER</h1>
                </div>
                <div class="boit">
                    <div class="programmer"><i class="fa fa-search" aria-hidden="true">
                    </i></div>
                    <div class="content">
                            <h2>Connaître l’architecture et les technologies d’un site Web</h2>
                            <p>je n'ai aucun probleme pour cree un site web avec plusieur page, 
                                une page d'acceuile, back menu dans mes autre pages, une feuille
                                 de style, un site responsive </p>
                    </div>
                </div>
                <div class="boit">
                    <div class="programmer2"><i class="fa fa-search" aria-hidden="true">
                    </i></div>
                    <div class="content">
                            <h2>Traduire un algorithme, dans un langage et pour un environnement donné</h2>
                            <p>j'arrive facilement a Traduire un algorithme en language que se soit
                                 en C ou en Phyton et a l'inverse de passer d'un language a 
                                 un algorithme.</p>
                    </div>
                </div>
                <!--<div class="boit">
                    <div class="tracteur"><i class="fa fa-search" aria-hidden="true">
                    </i></div>
                    <div class="content">
                            <h2>Passion</h2>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident sit iure 
                                incidunt laudantium explicabo voluptatum consectetur ipsum, minus dolorum reprehenderit 
                                labore eaque sapiente blanditiis? Sit non omnis quia qui porro.</p>
                    </div>
                </div>-->
            </div>
            <div class="containerPO5">
                <li><a href="index.html.twig"><button class="BTN1">MENU</button></a></li>
            </div>
    </body>
</html>        


