<!DOCTYPE html>
<html>     
    <head>
        <link rel="stylesheet" href="./index.css">
    </head>
    <body>
        <img src='src/images/tete.png'>
        <p>leo walle</p>
        <p>18ans</p>
        <p>Roanne</p>
        <table>
        <banner>
            <td><a href="#"> TEST1</a></td>
        <tr>
        <td><b href="#"> TEST1</b></td>
        <td><b href="#"> TEST2</b></td>
        <td><b href="#"> TEST3</b></td>
        </tr>
    </banner>
        </table>
        
    </body>
</html>

