<!DOCTYPE html>
<html>     
    <head>
        <link rel="stylesheet" href="./index.css">
        <img src='OIP.jpg' width="200px" height="200px">
    </head>
    <body>
        <div class="container">
            <div class="box relative">image</div>
            <div class="box relative">info</div>
        </div>
       
        <p>leo walle</p>
        <p>18ans</p>
        <p>Roanne</p>
        <table>
        <banner>
            <td><b href="#"> TEST1</b></td>
        <tr>
        <td><b href="#"> TEST1</b></td>
        <td><b href="#"> TEST2</b></td>
        <td><b href="#"> TEST3</b></td>
        </tr>
    </banner>
        </table>
        
    </body>
</html>

